@{
    ViewBag.Title = GlobalAppSettings.SystemSettings.OrganizationName + " - Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ItemDetail>

@section styles{
    @Styles.Render("~/styles/file-page")
}

@section scripts{
    @Scripts.Render("~/scripts/files-page")
}

<div id="verionWindowContainer" class="no-padding"><iframe width="100%" height="100%" style="height:100%"></iframe></div>

<div id="itemGridContainer" data-grid-name="files">
    <div id="searchArea">
        <input type="text" id="searchItems" placeholder="Search files"/>
        <span class="su su-search search-item" title="Search files"></span>
    </div>
    <div class="heading">
        FILES
    </div>
    @Html.Partial("../Items/_ItemsGrid", new ViewDataDictionary{{"gridName", "files"}})
</div>
<div id="EditFilePopup">
    <iframe id="EditFilePopup_iframe" class="fileDialog"></iframe>
</div>
@Html.Partial("../Items/_AddItems")
