<div id="datasource_popup">
    <iframe id="datasource_popup_iframe" class="datasource-popup-frame"></iframe>
</div>
<div id="AddCategoryPopup">
    <iframe id="AddCategoryPopup_iframe" class="categoryDialog"></iframe>
</div>
<div id="item_delete_confirmation" class="no-padding"></div>
<div id="addFileDom">
    <iframe id="addfile" class="fileDialog"></iframe>
</div>
<div id="report_popup" class="col-md-12 DisplayNone">
    <div id="report_content" class="share-popup">
        <iframe id="report_iframe" class="EditIframe"></iframe>
    </div>
</div>
<div id="select_datasource_popup" class="col-md-12 DisplayNone">
    <div id="datasource_content" class="share-popup">
        <iframe id="datasource_iframe" class="EditIframe"></iframe>
    </div>
</div>