<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SystemConfigurationPath" value="\..\Configuration\"/>    
    <add key="SchedulerServiceName" value="Syncfusion Report Server Scheduler"/>
	<add key="ApplicationName" value="Report Server" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
