<div class="PermissionAppContainer">
    <div class="content-container-fluid" id="PermissionAppContainer">

        <div id="Grid">
        </div>
        <div class="col-xs-12 rightAlign no-left-padding padding20 no-right-padding">
            <input type="button" title="Add Permission to the user" id="AddPermissionButton" value="Add Permission" class="btn btn-success rightAlign" />
        </div>
    </div>
</div>